html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  flex-direction: column;
}

.search input {
  height: 30px;
  border: 1px solid grey;
  border-radius: 30px;
  width: 450px;
  height: 40px;
  margin-top: 20px;
  box-shadow: 1px 1px rgba(194, 191, 191, 0.795),
    0 0 0.2em rgba(240, 240, 237, 0.815);
}
.fas {
  position: absolute;
  margin: 32px;
  margin-left: 15px;
  color: grey;
}
.fa-microphone {
  color: blue;
  position: absolute;
  margin: 32px -27px;
}
.other-buttons {
  display: flex;
  margin-top: -70px;
  flex-direction: row;
  justify-content: center;
}
.google-search,
.feeling-lucky {
  color: rgb(100, 100, 100);
  background: #f8f8f8;
  margin-right: 15px;
  border-radius: 5px;
  border: 1px solid white;
  height: 30px;
  margin-bottom: 20px;
}
.google-search:hover,
.feeling-lucky:hover {
  color: grey;
  background: #f8f9fa7a;
  margin-right: 15px;
  border: 1px solid #6b6d6ebe;
  border-radius: 5px;
}
.other-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stay-home {
  margin-bottom: 35px;
  text-decoration: none;
}

a {
  padding: 8px;
  text-decoration: none;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}
.left-nav {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 14px;
}

.right-nav {
  font-size: 14px;
  display: flex;
  margin-top: 13px;
  margin-right: 20px;
}
.avatar-logo {
  border-radius: 50px;
  width: 30px;
  margin-left: 40px;
}
.fa-th {
  margin-top: 10px;
  margin-left: 5px;
}
.first-footer {
  height: 20px;
  left: 0;
  bottom: 25px;
  background: grey;
  position: fixed;
  width: 100%;
  text-align: left;
}
.second-footer {
  height: 20px;
  left: 5;
  bottom: 0;
  position: fixed;
  background: grey;
}
.third-footer {
  position: relative;
  text-align: right;
}
