html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  flex-direction: column;
}

.search input {
  height: 30px;
  border: 1px solid grey;
  border-radius: 30px;
  width: 450px;
  margin-top: 20px;
  box-shadow: 1px 1px rgb(194, 191, 191, 0.5), 0 0 0.2em rgb(240, 240, 237, 0.5);
}
.fas {
  position: absolute;
  margin: 28px;
  margin-left: 10px;
  color: grey;
}
.fa-microphone {
  color: blue;
  position: absolute;
  margin: 28px -27px;
}
.other-buttons {
  display: flex;
  margin: 0px;
}
